In [62]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.metrics import confusion_matrix

In [63]:
test= pd.read_csv("test.csv", sep=";")
test.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35   7.25                2     1   100                    1
1    1   29  11.75                5     1    96                    0
2    2   50   9.50                4     3   132                    0
3    2   32  12.00               12     3   750                    0
4    1   67  10.00                7     1    42                    0

In [64]:
train= pd.read_csv("train.csv", sep=";")
train.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

In [65]:
test.shape

(30, 7)

In [66]:
train.shape

(60, 7)

In [67]:
x_train=train.iloc[0:60, 0:6]
Y_train=train.iloc[0:60, 6]
x_test=test.iloc[0:30, 0:6]
Y_test=test.iloc[0:30, 6]

In [68]:
import seaborn as sns
sns.set()

In [69]:
x_train.head()

   sex  age   Time  Number_of_Warts  Type  Area
0    1   35  12.00                5     1   100
1    1   29   7.00                5     1    96
2    1   50   8.00                1     3   132
3    1   32  11.75                7     3   750
4    1   67   9.25                1     1    42

In [70]:
Y_train.head()

0    0
1    1
2    0
3    0
4    0
Name: Result_of_Treatment, dtype: int64

In [71]:
from sklearn import datasets
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
ber= BernoulliNB()
y_pred=ber.fit(x_train,Y_train)
pred=ber.predict(x_test)
print (accuracy_score(pred, Y_test))

0.5333333333333333

In [72]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import export_graphviz

In [73]:
from sklearn.metrics import confusion_matrix
a=confusion_matrix(Y_test, pred)
a

array([[ 0, 14],
       [ 0, 16]], dtype=int64)

In [74]:
sensitivity=a[0,0]/(a[0,0]+a[0,1])
sensitivity

0.0

In [75]:
specivisity=np.sum(a[1:2,1:2])/np.sum(a[1:2,0:2])
specivisity

1.0

In [76]:
#pengambilan data dengan kfold
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV 
from sklearn import datasets
from sklearn.metrics import confusion_matrix

In [77]:
data = pd.read_csv("modul1.csv", sep=";")
data.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

In [78]:
y1=data['Result_of_Treatment']
x1=data.drop(columns='Result_of_Treatment')
x=x1.values
y=y1.values

In [79]:
from sklearn import svm
svm = svm.SVC(class_weight=None,C=1,gamma=0.1,kernel='linear',random_state=90)
n=5
from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=n,random_state=None)
from sklearn.metrics import roc_auc_score
from sklearn import svm

In [80]:
cv = StratifiedKFold(n_splits=2,random_state=None)
ss=svm.SVC(class_weight=None, random_state=2)
model=ss.fit(x,y)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [96]:
cm2=[]
total2=[]
ac2=[]
se2=[]
sp2=[]

In [97]:
total2

[]

In [122]:
for train_index,test_index in kf.split(x,y):
    x_train, x_test =x[train_index],x[test_index]
    y_train, y_test =y[train_index],y[test_index]
    brn = BernoulliNB()
    y1_pred=brn.fit(x_train,y_train).predict(x_test)
    cm2.append((confusion_matrix(y_test,y1_pred)).astype(float))
for j in range (n):
    total2.append(sum(sum(cm2[j])))
    ac2.append((cm2[j][0,0]+cm2[j][1,1])/total2[j])
    se2.append(cm2[j][0,0]/(cm2[j][0,0]+cm2[j][0,1]))
    sp2.append(cm2[j][1,1]/(cm2[j][1,0]+cm2[j][1,1]))

In [123]:
df_k2 = pd.DataFrame()
test2 = dict()
for j in range (3):
    test2[j]=[]
for i in range (n):
    test2[0].append(ac2[i])
    test2[1].append(se2[i])
    test2[2].append(sp2[i])
for i in range (3):
    df_k2=pd.concat([df_k2,pd.DataFrame(test2[i])],axis=1)
df_k2.columns = ['Akurasi bernoulli','Sentivitasi bernoulli','Spesifikasi bernoulli']
df_k2

   Akurasi bernoulli  Sentivitasi bernoulli  Spesifikasi bernoulli
0           0.526316                    0.0                    1.0
1           0.526316                    0.0                    1.0
2           0.555556                    0.0                    1.0
3           0.529412                    0.0                    1.0
4           0.529412                    0.0                    1.0

In [124]:
akurasi=df_k2.iloc[0:4,0]

In [125]:
akurasi_bernoulli_dengan_kfold= np.mean(akurasi)
akurasi_bernoulli_dengan_kfold

0.5343997248022015

In [126]:
Spesifikasi=df_k2.iloc[0:4,2]

In [127]:
Spesifikasi_bernoulli_dengan_kfold= np.mean(Spesifikasi)
Spesifikasi_bernoulli_dengan_kfold

1.0

In [128]:
Sensitivitas=df_k2.iloc[0:4,1]

In [129]:
Sensitivitas_bernoulli_dengan_kfold= np.mean(Sensitivitas)
Sensitivitas_bernoulli_dengan_kfold

0.0