In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.metrics import confusion_matrix

In [2]:
test= pd.read_csv("test.csv", sep=";")
test.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35   7.25                2     1   100                    1
1    1   29  11.75                5     1    96                    0
2    2   50   9.50                4     3   132                    0
3    2   32  12.00               12     3   750                    0
4    1   67  10.00                7     1    42                    0

In [3]:
train= pd.read_csv("train.csv", sep=";")
train.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

In [4]:
test.shape

(30, 7)

In [5]:
train.shape

(60, 7)

In [6]:
x_train=train.iloc[0:60, 0:6]
Y_train=train.iloc[0:60, 6]
x_test=test.iloc[0:30, 0:6]
Y_test=test.iloc[0:30, 6]

In [7]:
import seaborn as sns
sns.set()

In [8]:
x_train.head()

   sex  age   Time  Number_of_Warts  Type  Area
0    1   35  12.00                5     1   100
1    1   29   7.00                5     1    96
2    1   50   8.00                1     3   132
3    1   32  11.75                7     3   750
4    1   67   9.25                1     1    42

In [9]:
Y_train.head()

0    0
1    1
2    0
3    0
4    0
Name: Result_of_Treatment, dtype: int64

In [10]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
gnb= GaussianNB()
y_pred=gnb.fit(x_train,Y_train)
pred=gnb.predict(x_test)
print (accuracy_score(pred, Y_test))

0.8333333333333334

In [11]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import export_graphviz

In [12]:
from sklearn.metrics import confusion_matrix
a=confusion_matrix(Y_test, pred)
a

array([[10,  4],
       [ 1, 15]], dtype=int64)

In [13]:
sensitivity=a[0,0]/(a[0,0]+a[0,1])
sensitivity

0.7142857142857143

In [14]:
specivisity=np.sum(a[1:2,1:2])/np.sum(a[1:2,0:2])
specivisity

0.9375

In [15]:
#pengambilan data dengan kfold
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV 
from sklearn import datasets
from sklearn.metrics import confusion_matrix

In [16]:
data = pd.read_csv("modul1.csv", sep=";")
data.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

In [17]:
y1=data['Result_of_Treatment']
x1=data.drop(columns='Result_of_Treatment')
x=x1.values
y=y1.values

In [18]:
from sklearn import svm
svm = svm.SVC(class_weight=None,C=1,gamma=0.1,kernel='linear',random_state=90)
n=5
from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=n,random_state=None)
from sklearn.metrics import roc_auc_score
from sklearn import svm

In [19]:
cv = StratifiedKFold(n_splits=2,random_state=None)
ss=svm.SVC(class_weight=None, random_state=2)
model=ss.fit(x,y)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [20]:
cm1=[]
total1=[]
ac1=[]
se1=[]
sp1=[]

In [21]:
for train_index,test_index in kf.split(x,y):
    x_train, x_test =x[train_index],x[test_index]
    y_train, y_test =y[train_index],y[test_index]
    gnb = GaussianNB()
    y_pred = gnb.fit(x_train, y_train).predict(x_test)
    cm1.append((confusion_matrix(y_test,y_pred)).astype(float))
for j in range (n):
    total1.append(sum(sum(cm1[j])))
    ac1.append((cm1[j][0,0]+cm1[j][1,1])/total1[j])
    se1.append(cm1[j][0,0]/(cm1[j][0,0]+cm1[j][0,1]))
    sp1.append(cm1[j][1,1]/(cm1[j][1,0]+cm1[j][1,1]))

In [22]:
df_k1 = pd.DataFrame()
test1 = dict()
for j in range (3):
    test1[j]=[]
for i in range (n):
    test1[0].append(ac1[i])
    test1[1].append(se1[i])
    test1[2].append(sp1[i])
for i in range (3):
    df_k1=pd.concat([df_k1,pd.DataFrame(test1[i])],axis=1)
df_k1.columns = ['Akurasi Gaussian','Sentivitasi Gaussian','Spesifikasi Gaussian']
df_k1

   Akurasi Gaussian  Sentivitasi Gaussian  Spesifikasi Gaussian
0          0.842105              0.777778              0.900000
1          0.842105              0.888889              0.800000
2          0.833333              0.625000              1.000000
3          0.882353              0.875000              0.888889
4          0.823529              0.625000              1.000000

In [25]:
akurasi=np.mean(df_k1.iloc[0:4,0])
akurasi

0.8499742002063984

In [27]:
Sensitivitas=np.mean(df_k1.iloc[0:4,1])
Sensitivitas

0.7916666666666666

In [29]:
Spesifikasi=np.mean(df_k1.iloc[0:4,2])
Spesifikasi

0.8972222222222223